/************
general rules
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;

    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #ddd;

    position: relative;
}

/*******
 sidebar
*******/
side {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

side > div {
    padding: 5px;
}

side button {
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 7px;
    outline: none;
}

side button.current {
    background-color: #ccc;
}

side button > object {
    width: 100%;
    padding: 5px;

    line-height: 40px;
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

/* special buttons */
#addtab {
    margin-bottom: 25px;
}
#addtab > object {
    font-weight: 900;
}

#tabstream {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

#tabstream::-webkit-scrollbar {
    display: none;
}

#pinnedtabs {
    z-index: 1;
    background: #eee;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
}

#menubar {
    z-index: 1;
    background: #eee;
}

#menu {
    font-weight: 900;
    color: #333;
}

/***
main
***/
main {
    margin-right: 50px;
    border-radius: 0 6px 6px 0;
    background: #fff;
    border-right: 1px solid #bbb;
    overflow: hidden;
}

#topbar {
    width: 100%;
    height: 38px;
    border-radius: 0 6px 0 0;
    background-color: #eee;
    text-align: center;

    padding: 5px 0;
    -webkit-app-region: drag;
    border-bottom: 1px solid #ccc;
}

#topbar > * {
    -webkit-app-region: no-drag;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
}

#topbar.bright > * {
    background-color: #fff;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, .1);
    color: #000;
}

#topbar.bright > *:focus {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

#topbar.dark > * {
    background-color: rgba(255, 255, 255, .5);
    color: #282828;
}

#topbar.dark > *:hover {
    background-color: rgba(255, 255, 255, .7);
}

#topbar > input[type=url] {
    width: 80%;
    max-width: 350px;
    padding: 0 10px;
}

#topbar > input[type=url]::-webkit-input-placeholder {
    color: rgba(0,0,0,.7);
    text-align: center;
}

#topbar > input[type=url]:focus::-webkit-input-placeholder {
    color:transparent;
}

#topbar > button {
    padding: 0 5px;
    width: 28px;
    font-weight:900;
}


/*******
festival
*******/
#festival {
	height: calc(100vh - 38px);
	position: relative;
}
#festival webview {
	height: 100%;
	width: 100%;
	outline: none;
	position: absolute;
    visibility: hidden;
}
#festival webview.current {
    visibility: visible;
}
#festival webview.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
}
